################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/PokerHandEvaluator/bin/Debug/net6.0
/PokerHandEvaluator/obj
/PokerHandEvaluator.Tests/obj
/PokerHandEvaluator.Tests/bin/Debug/net6.0
